body{
    background-color: #1B1464 !important;
    color: white !important;
}

.main2{
    margin-left: 35vw;
    margin-right: auto;
}

.navbar{
    background-color: white;
}

.a:link{
    text-decoration: none;
}

.img{
    width: 20vw;
    margin-left: 75vw;
}

.button{
    background-color: white !important;
}

.button:hover{
    background-color: whitesmoke !important;
}

th{
    padding: 0px 10px 0px 10px !important;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px black;
}

td{
    padding: 0px 10px 0px 10px !important;
    font-weight: bold;
    border-color: black;
}

tr{
    margin: 0px 10px 0px 10px !important;
    padding: 0px 10px 0px 10px !important;
}

.table__font{
    font-size: 1.4rem;
    color: white;
}

.table__row--dark{
    background-color: #1B1464 !important;
}
.table__row--light{
    background-color: #322a85 !important;
}

.total{
    color: yellow;
}

.b{
    background-color: white !important;
}

@media (min-width: 320px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1{
        width: 100%;
        *width: 100%;
        }
}
    
@media (min-width: 992px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1{
/*         width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%; */
        width: 11.11111111111111%;
        *width: 11.11111111111111%;
    }
}

@media (min-width: 1367px){
    .table__font{
        font-size: 1.8rem;
/*         margin: 0rem 0.3rem 0rem 0.3rem;
        padding: 0rem 0.3rem 0rem 0.3rem; */
    }
}
