.navbar{
    width: 100%;
    background-color: white;
}

main{
    background-color: rgb(95, 88, 88);
/*     background-color: #1A1F73; */
}

td{
    padding: 0px 10px 0px 10px !important;
    font-weight: bolder;
/*     color: black; */
}

th{
    padding: 0px 10px 0px 10px !important;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px black;
}

.vacia{
    color: rgb(95, 88, 88);
/*     color: #1A1F73; */
    text-shadow: none;
}

.table__font{
    color: white;
    text-shadow: 2px 2px black;
}

@media (min-width: 320px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
        }
    }
    
@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 1080px) {
    .table__font{
        font-size: 1.6rem;
    }
}

