.main{
    background-color: #1A1F73 !important;
    color: white !important;
}

.navbar{
    width: 100%;
    background-color: white;
}

.a:link{
    text-decoration: none;
}

th{
    padding: 0px 10px 0px 10px !important;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px black;
}

td{
    padding: 0px 10px 0px 10px !important;
    font-weight: bold;
    border-color: black;
}

tr{
    margin: 0px 10px 0px 10px !important;
    padding: 0px 10px 0px 10px !important;
}

.vacia{
    color: #1A1F73;
    text-shadow: none;
}

.table__font{
    color: white;
}

.table__row--dark{
    background-color: #1A1F73 !important;
}
.table__row--ligth{
    background-color: #323799 !important;
}

@media (min-width: 320px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1{
        width: 100%;
        *width: 100%;
        }
    }
    
@media (min-width: 992px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1{
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 1080px) {
    .table__font{
        font-size: 1.6rem;
    }
}

.b{
    background-color: white !important;
}
/* select semana en navbar, una funcion por semana 
partiendo de la semana actual para hacer los calculos
con boton editar que modifique cada funcion, dependiendo del valor seleccionado de semana */
